In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../dataset/final_dataset.csv")
df.head()

,order_id,customer_id,order_purchase_timestamp,order_delivered_customer_date,customer_zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng,payment_value,product_id,seller_id,shipping_limit_date,product_category_name,product_category_name_english,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-10 21:25:13,3149,sao paulo,SP,-23.574809,-46.587471,18.12,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,utilidades_domesticas,housewares,9350.0,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-10 21:25:13,3149,sao paulo,SP,-23.574809,-46.587471,2.00,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,utilidades_domesticas,housewares,9350.0,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-10 21:25:13,3149,sao paulo,SP,-23.574809,-46.587471,18.59,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,utilidades_domesticas,housewares,9350.0,maua,SP
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,2018-08-07 15:27:45,47813,barreiras,BA,-12.169860,-44.988369,141.46,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,perfumaria,perfumery,31570.0,belo horizonte,SP
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,2018-08-17 18:06:29,75265,vianopolis,GO,-16.746337,-48.514624,179.12,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,automotivo,auto,14840.0,guariba,SP

In [3]:
len(df)

118434

In [4]:
gby_cols = list(df.columns.values)
print(gby_cols)
gby_cols.remove('payment_value')
print(gby_cols)
final_df = df.groupby(gby_cols).agg({'payment_value': ['sum']})
final_df.columns = final_df.columns.droplevel(1)
final_df.head()

['order_id', 'customer_id', 'order_purchase_timestamp', 'order_delivered_customer_date', 'customer_zip_code_prefix', 'customer_city', 'customer_state', 'geolocation_lat', 'geolocation_lng', 'payment_value', 'product_id', 'seller_id', 'shipping_limit_date', 'product_category_name', 'product_category_name_english', 'seller_zip_code_prefix', 'seller_city', 'seller_state']
['order_id', 'customer_id', 'order_purchase_timestamp', 'order_delivered_customer_date', 'customer_zip_code_prefix', 'customer_city', 'customer_state', 'geolocation_lat', 'geolocation_lng', 'product_id', 'seller_id', 'shipping_limit_date', 'product_category_name', 'product_category_name_english', 'seller_zip_code_prefix', 'seller_city', 'seller_state']

                                                                                                                                                                                                                                                                                                                                                                                                                    payment_value
order_id                         customer_id                      order_purchase_timestamp order_delivered_customer_date customer_zip_code_prefix customer_city         customer_state geolocation_lat geolocation_lng product_id                       seller_id                        shipping_limit_date product_category_name product_category_name_english seller_zip_code_prefix seller_city   seller_state
00010242fe8c5a6d1ba2dd792cb16214 3ce436f183e68e07877b285a838db11a 2017-09-13 08:59:02      2017-09-20 23:43:48           28013                    campos dos goytacazes RJ             -21.758076      -41.312633      4244733e06e7ecb4970a6e2683c13e61 48436dade18ac8b2bce089ec2a041202 2017-09-19 09:45:35 cool_stuff            cool_stuff                    27277.0                volta redonda SP                    72.19
00018f77f2f0320c557190d7a144bdd3 f6dd3ec061db4e3987629fe6b26e5cce 2017-04-26 10:53:06      2017-05-12 16:04:24           15775                    santa fe do sul       SP             -20.212393      -50.941471      e5f2d52b802189ee658865ca93d83a8f dd7ddc04e1b6c2c614352b383efe2d36 2017-05-03 11:05:13 pet_shop              pet_shop                      3471.0                 sao paulo     SP                   259.83
000229ec398224ef6ca0657da4fc703e 6489ae5e4333f3693df5ad4372dab6d3 2018-01-14 14:33:31      2018-01-22 13:19:16           35661                    para de minas         MG             -19.860439      -44.597972      c777355d18b72b67abbeef9df44fd0fd 5b51032eddd242adc84c38acab88f23d 2018-01-18 14:48:30 moveis_decoracao      furniture_decor               37564.0                borda da mata MG                   216.87
00024acbcdf0a6daa1e931b038114c75 d4eb9395c8c0431ee92fce09860c5a06 2018-08-08 10:00:35      2018-08-14 13:32:39           12952                    atibaia               SP             -23.144923      -46.539830      7634da152a4610f1595efa32f14722fc 9d7a1d34a5052409006425275ba1c2b4 2018-08-15 10:10:18 perfumaria            perfumery                     14403.0                franca        SP                    25.78
00042b26cf59d7ce69dfabb4e55b4fd9 58dbd0b2d70206bf40e62cd34e84d795 2017-02-04 13:57:51      2017-03-01 16:42:31           13226                    varzea paulista       SP             -23.249008      -46.824961      ac6c3623068f30de03045865e4e10089 df560393f3a51e74553ab94004ba5c87 2017-02-13 13:57:51 ferramentas_jardim    garden_tools                  87900.0                loanda        PR                   218.04

In [5]:
final_df = final_df.reset_index()
print(final_df.info())
print(final_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98506 entries, 0 to 98505
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       98506 non-null  object
 1   customer_id                    98506 non-null  object
 2   order_purchase_timestamp       98506 non-null  object
 3   order_delivered_customer_date  98506 non-null  object
 4   customer_zip_code_prefix       98506 non-null  int64
 5   customer_city                  98506 non-null  object
 6   customer_state                 98506 non-null  object
 7   geolocation_lat                98506 non-null  float64
 8   geolocation_lng                98506 non-null  float64
 9   product_id                     98506 non-null  object
 10  seller_id                      98506 non-null  object
 11  shipping_limit_date            98506 non-null  object
 12  product_category_name          98506 non-null  object
 13  product_category_name_english  98506 non-null  object
 14  seller_zip_code_prefix         98506 non-null  float64
 15  seller_city                    98506 non-null  object
 16  seller_state                   98506 non-null  object
 17  payment_value                  98506 non-null  float64
dtypes: float64(4), int64(1), object(13)
memory usage: 13.5+ MB
None
                           order_id                       customer_id  \
0  00010242fe8c5a6d1ba2dd792cb16214  3ce436f183e68e07877b285a838db11a
1  00018f77f2f0320c557190d7a144bdd3  f6dd3ec061db4e3987629fe6b26e5cce
2  000229ec398224ef6ca0657da4fc703e  6489ae5e4333f3693df5ad4372dab6d3
3  00024acbcdf0a6daa1e931b038114c75  d4eb9395c8c0431ee92fce09860c5a06
4  00042b26cf59d7ce69dfabb4e55b4fd9  58dbd0b2d70206bf40e62cd34e84d795

  order_purchase_timestamp order_delivered_customer_date  \
0      2017-09-13 08:59:02           2017-09-20 23:43:48
1      2017-04-26 10:53:06           2017-05-12 16:04:24
2      2018-01-14 14:33:31           2018-01-22 13:19:16
3      2018-08-08 10:00:35           2018-08-14 13:32:39
4      2017-02-04 13:57:51           2017-03-01 16:42:31

   customer_zip_code_prefix          customer_city customer_state  \
0                     28013  campos dos goytacazes             RJ
1                     15775        santa fe do sul             SP
2                     35661          para de minas             MG
3                     12952                atibaia             SP
4                     13226        varzea paulista             SP

   geolocation_lat  geolocation_lng                        product_id  \
0       -21.758076       -41.312633  4244733e06e7ecb4970a6e2683c13e61
1       -20.212393       -50.941471  e5f2d52b802189ee658865ca93d83a8f
2       -19.860439       -44.597972  c777355d18b72b67abbeef9df44fd0fd
3       -23.144923       -46.539830  7634da152a4610f1595efa32f14722fc
4       -23.249008       -46.824961  ac6c3623068f30de03045865e4e10089

                          seller_id  shipping_limit_date  \
0  48436dade18ac8b2bce089ec2a041202  2017-09-19 09:45:35
1  dd7ddc04e1b6c2c614352b383efe2d36  2017-05-03 11:05:13
2  5b51032eddd242adc84c38acab88f23d  2018-01-18 14:48:30
3  9d7a1d34a5052409006425275ba1c2b4  2018-08-15 10:10:18
4  df560393f3a51e74553ab94004ba5c87  2017-02-13 13:57:51

  product_category_name product_category_name_english  seller_zip_code_prefix  \
0            cool_stuff                    cool_stuff                 27277.0
1              pet_shop                      pet_shop                  3471.0
2      moveis_decoracao               furniture_decor                 37564.0
3            perfumaria                     perfumery                 14403.0
4    ferramentas_jardim                  garden_tools                 87900.0

     seller_city seller_state  payment_value
0  volta redonda           SP          72.19
1      sao paulo           SP         259.83
2  borda da mata           MG         216.87
3         franca           SP          25.78
4         loanda           PR         218.04

In [6]:
final_df['seller_zip_code_prefix'] = final_df['seller_zip_code_prefix'].astype(int)
print(final_df.head())

                           order_id                       customer_id  \
0  00010242fe8c5a6d1ba2dd792cb16214  3ce436f183e68e07877b285a838db11a
1  00018f77f2f0320c557190d7a144bdd3  f6dd3ec061db4e3987629fe6b26e5cce
2  000229ec398224ef6ca0657da4fc703e  6489ae5e4333f3693df5ad4372dab6d3
3  00024acbcdf0a6daa1e931b038114c75  d4eb9395c8c0431ee92fce09860c5a06
4  00042b26cf59d7ce69dfabb4e55b4fd9  58dbd0b2d70206bf40e62cd34e84d795

  order_purchase_timestamp order_delivered_customer_date  \
0      2017-09-13 08:59:02           2017-09-20 23:43:48
1      2017-04-26 10:53:06           2017-05-12 16:04:24
2      2018-01-14 14:33:31           2018-01-22 13:19:16
3      2018-08-08 10:00:35           2018-08-14 13:32:39
4      2017-02-04 13:57:51           2017-03-01 16:42:31

   customer_zip_code_prefix          customer_city customer_state  \
0                     28013  campos dos goytacazes             RJ
1                     15775        santa fe do sul             SP
2                     35661          para de minas             MG
3                     12952                atibaia             SP
4                     13226        varzea paulista             SP

   geolocation_lat  geolocation_lng                        product_id  \
0       -21.758076       -41.312633  4244733e06e7ecb4970a6e2683c13e61
1       -20.212393       -50.941471  e5f2d52b802189ee658865ca93d83a8f
2       -19.860439       -44.597972  c777355d18b72b67abbeef9df44fd0fd
3       -23.144923       -46.539830  7634da152a4610f1595efa32f14722fc
4       -23.249008       -46.824961  ac6c3623068f30de03045865e4e10089

                          seller_id  shipping_limit_date  \
0  48436dade18ac8b2bce089ec2a041202  2017-09-19 09:45:35
1  dd7ddc04e1b6c2c614352b383efe2d36  2017-05-03 11:05:13
2  5b51032eddd242adc84c38acab88f23d  2018-01-18 14:48:30
3  9d7a1d34a5052409006425275ba1c2b4  2018-08-15 10:10:18
4  df560393f3a51e74553ab94004ba5c87  2017-02-13 13:57:51

  product_category_name product_category_name_english  seller_zip_code_prefix  \
0            cool_stuff                    cool_stuff                   27277
1              pet_shop                      pet_shop                    3471
2      moveis_decoracao               furniture_decor                   37564
3            perfumaria                     perfumery                   14403
4    ferramentas_jardim                  garden_tools                   87900

     seller_city seller_state  payment_value
0  volta redonda           SP          72.19
1      sao paulo           SP         259.83
2  borda da mata           MG         216.87
3         franca           SP          25.78
4         loanda           PR         218.04

In [7]:
prod_df = pd.read_csv("../dataset/olist_products_dataset.csv")
print(prod_df.info())
print(prod_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None
                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

In [12]:
#     print(len(req_prod_df[["seller_id"]].drop_duplicates()))
#     print(len(req_prod_df[["product_id"]].drop_duplicates()))
#     print(len(req_prod_df[["product_id", "seller_id"]].drop_duplicates()))
#     print(len(req_prod_df[["product_id", "seller_id", "product_category_name"]].drop_duplicates()))

def format_products_data(product_df, order_df):
    """
    Assumptions: Seller_id is store_id, product_id is title because store_id and title are not present in the dataset
    product description is not present in the dataset
    quantity is not present in the dataset.
    The payment_value is inconsistent therefore it cannot be used as unit_price.
    """
    req_columns = ["product_id", "seller_id", "product_category_name"]
    req_prod_df = order_df[req_columns]
    req_prod_df = req_prod_df.drop_duplicates()
    
    # Merge dimensions and product_info
    dim_cols = ['product_id', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']
    req_prod_df = req_prod_df.merge(product_df[dim_cols], on="product_id")

    # Organization ID
    req_prod_df["organization_id"] = 1

    # Rename columns
    req_prod_df.rename({"seller_id": "store_id"}, axis=1, inplace=True)

    return req_prod_df

In [32]:
def get_product_dimension_dict(dimension_dict, row):
    if row.get("product_weight_g"):
        dimension_dict["weight_g"] = row.get("product_weight_g")

    if row.get("product_height_cm"):
        dimension_dict["height_cm"] = row.get("product_height_cm")

    if row.get("product_width_cm"):
        dimension_dict["width_cm"] = row.get("product_width_cm")
    
    if row.get("product_length_cm"):
        dimension_dict["length_cm"] = row.get("product_length_cm")

    return dimension_dict

In [30]:
def save_product_data(formatted_prod_df):
    product_list = []

    for idx, row in formatted_prod_df.iterrows():
        temp_dict = {}
        dimension_dict = {}

        if row.get("product_id"):
            temp_dict['product_id'] = row.get("product_id")
            temp_dict['title'] = row.get("product_id")

            if row.get("organization_id"):
                temp_dict['organization_id'] = row.get("organization_id")
            
            if row.get("store_id"):
                temp_dict['store_id'] = row.get("store_id")
            
            if row.get("product_category_name"):
                temp_dict['category'] = row.get("product_category_name")

            dimension_dict = get_product_dimension_dict(dimension_dict, row)
            
            if dimension_dict:
                temp_dict['dimension'] = dimension_dict
        
        if temp_dict:
            product_list.append(temp_dict)
    
    print(len(product_list))
    with open('products.json', 'w') as fout:
        json.dump(product_list, fout)

In [9]:
def format_orders_data(df):
    pass

In [33]:
req_product_df = format_products_data(prod_df, final_df)
len(req_product_df), req_product_df.head()

(33013,
                          product_id                          store_id  \
 0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
 1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
 2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
 3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
 4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   product_category_name  product_weight_g  product_length_cm  \
 0            cool_stuff             650.0               28.0
 1              pet_shop           30000.0               50.0
 2      moveis_decoracao            3050.0               33.0
 3            perfumaria             200.0               16.0
 4    ferramentas_jardim            3750.0               35.0

    product_height_cm  product_width_cm  organization_id
 0                9.0              14.0                1
 1               30.0              40.0                1
 2               13.0              33.0                1
 3               10.0              15.0                1
 4               40.0              30.0                1  )

In [34]:
save_product_data(req_product_df)

33013

In [11]:
req_product_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33013 entries, 0 to 33012
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             33013 non-null  object
 1   seller_id              33013 non-null  object
 2   product_category_name  33013 non-null  object
 3   product_weight_g       33012 non-null  float64
 4   product_length_cm      33012 non-null  float64
 5   product_height_cm      33012 non-null  float64
 6   product_width_cm       33012 non-null  float64
dtypes: float64(4), object(3)
memory usage: 2.0+ MB